#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#generate, #content_generated{
    display: none;
}
#imagesmenu{
    max-width: 500px;
    margin: auto;
    background: white;
    opacity: 1;
}
#addquestion{
    display: none;
}